.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #61dafb;
    background: black;
    font-family: 'BioRhyme', serif;
    font-size: 30px;
}