.sign-in-container {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field input {
    letter-spacing: 0px;
    font-family: 'Fira Mono', monospace;
    border: 1px solid #a4b3b6;
    margin: 10px 10px;
    width: 175px;
    height: 25px;
    border-radius: 2.5px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: 'Fira Mono', monospace;
    border: 1px solid grey;
    margin: 10px 10px;
    width: 105px;
    height: 25px;
    border-radius: 2.5px;
    color: #2a1b3d;
}

button:hover {
    background: #2a1b3d;
    color: white;
}