# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

../.CFUserTextEncoding
../.DS_Store
../.Trash/
../.atom/
../.bash_history
../.bash_sessions/
../.cache/
../.config/
../.cups/
../.hyper.js
../.hyper_plugins/
../.local/
../.mono/
../.node_repl_history
../.npm/
../.quokka/
../.sip_v1/
../.viminfo
../.vscode/
../.yarnrc
../.zoomus/
../Applications/
../Desktop/
../Documents/
../Downloads/
../Intro-To-Relational-Databases.db
../L&P SVG/
../Lambda School/
../Library/
../Movies/
../Music/
../Parallels/
../Pictures/
../Public/
../Udemy JavaScript Course/
../animals/
../express-handle-errors/
../server.j